{% extends 'base.html.twig' %}

{% block title 'Nos biens' %}


{% block body %}

    <div class ="container">
        <h1>Voir tous nos biens</h1>
        <p> sdfsdfsdfsdfsdsdf Agence Lorem ipsum  Agence Lorem ipsum
            Agence Lorem ipsum  Agence Lorem ipsum  Agence Lorem ipsum  Agence Lorem ipsum </p>
    </div>



{% endblock %}